<header class="top-navbar">
    <div style="display: flex; align-items: center; gap: 15px;">
        <span id="sidebar-toggle" style="cursor: pointer; font-size: 1.6rem;">☰</span>
        <h2 style="font-size: 1.2rem; margin: 0; color: #333;">Gerenciamento</h2>
    </div>

    <div class="nav-search">
        <input type="text" class="search-input" placeholder="Pesquisar...">
        <div class="profile-circle">U</div>
    </div>
</header>

<div class="admin-container">
    <aside class="sidebar" id="sidebar">
        <nav class="sidebar-menu">
            <a href="#">Avaliações</a>
            <a href="<%= admin_management_path %>" class="active">Gerenciamento</a>
        </nav>
    </aside>

    <main class="main-content">
        <div class="content-area">
            <div class="action-card">
                <%= link_to "Importar dados", import_sigaa_path, class: "btn-action btn-primary-green" %>
                <button class="btn-action btn-secondary-green">Editar Templates</button>
                <%= link_to "Criar Formulário", new_admins_form_path, data: { turbo_frame: "modal" }, class: "btn-action btn-primary-green" %>
                <%= link_to "Resultados", admin_results_path, class: "btn-action btn-primary-green" %>
            </div>
        </div>
        <turbo-frame id="modal"></turbo-frame>
    </main>


</div>