<% content_for :head do %>
  <%= stylesheet_link_tag "admin_templates", "data-turbo-track": "reload" %>
<% end %>

<%= render "shared_layout_structure" do %>
  <div class="modal-overlay">
    <div class="modal-content">
      <h3 style="margin: 0 0 15px 0; font-size: 18px; text-align: center;">Novo Template</h3>
      <%= render "form", template: @template %>
    </div>
  </div>
<% end %>
